
<nav class="navbar-container container">
  <div class="nav-div">
    <h1>JSON to CSV Website</h1>
  </div>
  <div class="nav-div">
      <a href="/customdata">Wybierz interesujące cię dane</a>
  </div>
</nav> 