* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  line-height: 1.6;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*navbar*/
nav {
  width: 100%;
  overflow: auto;
  background-image: linear-gradient(to bottom right, rgb(77, 16, 16), rgb(207, 110, 126));
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}


.nav-div {
  height: auto;
  margin-right: 10px;
  margin-left: 10px;
}


h1 {
  color:white;
}

/*form*/

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(240, 240, 240, 0.986);
  height: auto;
  width: 600px;
  text-align: center;

}

.form-container-custom {
  width: 800px;
  background-color: rgba(240, 240, 240, 0.986);
  height: fit-content;
  justify-content: center;
  align-items: center;
  display: flex;
}

.main {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 20px;
  margin-top: 10px;
}
.form-container-custom form {
  width: 80%;
  height: auto;
  margin: auto;
  
}

.regular-checkbox {
	background-color: #fafafa;
	border: 1px solid #cacece;
	display: inline-block;
}

.checkbox input {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.checkbox input:hover  {
  background-color:  rgb(77, 16, 16);
} 

fieldset {
  background-color: transparent;
  width: 100%;
  height: fit-content;
  margin-bottom: 25px;
  margin-top: 10px;
  padding-bottom: 25px;
}

.checkbox {
  display: grid;
  height: 25px;
  margin-bottom: 15px;
  grid-template-columns: 100px 100px; 
  grid-template-rows: 100px;
  grid-column-gap: 5px;
}

legend {
  background-color: rgb(207, 110, 126);
  color: black;
  padding: 5px 10px;
}

input {
  margin: 5px;
}

form {
  display: inline-block;
}

form input, label {
  display:block;
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
  margin-top: 20px;
}

form label {
  height: 30px;
  padding: 0;
  font-size: 18px;
    
}

form input {
  background-color: rgb(248, 220, 225);
  font-size: 18px;
}

input[type=submit] {
  background-color: transparent;
  color: black;
  border-style: solid;
  border-color: black;
  border-radius: 4px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  }

input[type=submit]:hover {
  background-color: rgb(207, 110, 126);
  border:solid;
  border-color: white;
  color: white;
  
}

form input {
  border: transparent;
  border-radius: 4px;
}


