<%- include('../partials/base'); %>

  <%- include('../partials/header'); %>
  <section>
    <div class="form-container">
      <form method="post" action="/">
        <label>Podaj oczekiwany rozmiar danych</label>
        <input type="number" name='size' required='true'>
        <input type="submit" value="pobierz dane">
      </form>
    </div>
  </section>
</body>
</html>
