<%- include('../partials/base'); %>

  <%- include('../partials/header'); %>
  <section>
    <form method="post" action="/">
      <label>Podaj rozmiar oczekiwanych danych json</label>
      <input type="number" name='size' required='true'>
      <button type="submit">pobierz dane</button>
    </form>
  </section>
</body>
</html>
